[submodule "libs/theme"]
	path = libs/theme
	url = git@github.com:system-core-ui/theme.git
[submodule "libs/utils"]
	path = libs/utils
	url = git@github.com:system-core-ui/utils.git
[submodule "libs/dialog"]
	path = libs/dialog
	url = git@github.com:system-core-ui/dialog.git
[submodule "libs/typography"]
	path = libs/typography
	url = git@github.com:system-core-ui/typography.git
[submodule "libs/layout"]
	path = libs/layout
	url = git@github.com:system-core-ui/layout.git
[submodule "libs/button"]
	path = libs/button
	url = git@github.com:system-core-ui/button.git
[submodule "libs/chip"]
	path = libs/chip
	url = git@github.com:system-core-ui/chip.git
[submodule "libs/avatar"]
	path = libs/avatar
	url = git@github.com:system-core-ui/avatar.git
[submodule "libs/menu"]
	path = libs/menu
	url = https://github.com/system-core-ui/menu.git
[submodule "libs/card"]
	path = libs/card
	url = https://github.com/system-core-ui/card.git
[submodule "libs/accordion"]
	path = libs/accordion
	url = git@github.com:system-core-ui/accordion.git
[submodule "libs/badge"]
	path = libs/badge
	url = git@github.com:system-core-ui/badge.git
[submodule "libs/slider"]
	path = libs/slider
	url = git@github.com:system-core-ui/slider.git
[submodule "libs/tabs"]
	path = libs/tabs
	url = git@github.com:system-core-ui/tabs.git
[submodule "libs/toast"]
	path = libs/toast
	url = git@github.com:system-core-ui/toast.git
